services:
  reverse-proxy:
    image: ghcr.io/akiba-hs/public-traefik:latest
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    restart: always
    environment:
      - CLOUDFLARE_DNS_API_TOKEN=$CF_DNS_API_TOKEN
      - TG_PUBLIC_PREFIX=${TG_PUBLIC_PREFIX:?public prefix required}
      - TG_BOT_TOKEN=${TG_BOT_TOKEN:?bot token required}

volumes:
  data:
