services:
  reverse-proxy:
    image: ghcr.io/akiba-hs/public-traefik:latest
    network_mode: "host"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    restart: always
    environment:
      - CF_DNS_API_TOKEN:$CF_DNS_API_TOKEN

volumes:
  data:
